.wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper .control select {
  width: 500px;
}
.wrapper .main-form {
  display: flex;
  gap: 32px;
}
.wrapper .main-form .methods thead {
  display: block;
}
.wrapper .main-form .methods thead tr {
  display: flex;
  gap: 300px;
}
.wrapper .main-form .methods tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}
.wrapper .main-form .methods tbody tr {
  cursor: pointer;
}
.wrapper .main-form .methods tbody tr:nth-child(even) {
  background: #f0f0f0;
}
.wrapper .main-form .methods tbody tr:hover {
  background: #dbdbdb;
}
.wrapper .main-form .methods .id-cell {
  min-width: 120px;
  width: fit-content;
}
.wrapper .main-form .methods .name-cell {
  width: 1100px;
}
.wrapper .main-form .methods .active {
  background: #cacaca;
}
.wrapper .main-form .details {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wrapper .main-form .details .approved label {
  display: flex;
  flex-direction: column;
  padding: 4px;
  font-weight: bold;
}
.wrapper .main-form .details .approved .info {
  height: 100px;
  padding: 4px;
  border: 1px solid black;
}
.wrapper .main-form .details .order {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wrapper .main-form .details .order .order-number label,
.wrapper .main-form .details .order .order-date label {
  display: flex;
  justify-content: space-between;
}
.wrapper .main-form .details .order .order-number label .info,
.wrapper .main-form .details .order .order-date label .info {
  padding: 4px;
  border: 1px solid black;
}
.wrapper .info-form {
  display: flex;
}
.wrapper .info-form aside {
  z-index: 3;
  margin-top: 50px;
  width: 350px;
}
.wrapper .info-form aside .tab {
  padding: 4px;
  font-size: 14px;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
}
.wrapper .info-form aside .tab.active {
  border-right: 1px solid white;
}
.wrapper .info-form aside .tab:nth-child(even) {
  background: #f0f0f0;
}
.wrapper .info-form aside .tab:hover {
  background: #dbdbdb;
}
.wrapper .info-form aside .tab:last-child {
  border-bottom: 1px solid black;
}
.wrapper .info-form .info-wrapper {
  margin-left: -1px;
  padding: 8px;
  border: 1px solid black;
}
.wrapper .info-form .info-wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}
.wrapper .info-form .info-wrapper .container .hyg-stand-table td {
  padding: 4px;
}
.wrapper .info-form .info-wrapper .container .hyg-stand-table .id-cell {
  width: 55px;
}
.wrapper .info-form .info-wrapper .container .hyg-stand-table .target-cell {
  width: 240px;
}
.wrapper .info-form .info-wrapper .container .hyg-stand-table .object-cell {
  width: 350px;
}
.wrapper .info-form .info-wrapper .container .hyg-stand-table .mdr-cell {
  width: 90px;
}
.wrapper .info-form .info-wrapper .container .hyg-stand-table .mdk-cell {
  width: 70px;
}
.wrapper .info-form .info-wrapper .container .method-name {
  width: fit-content;
  padding: 8px;
  border: 1px solid black;
}
.wrapper .control-buttons {
  position: absolute;
  bottom: 16px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.wrapper .control-buttons button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 18px;
}

/*# sourceMappingURL=index.css.map */
