.wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .control {
    select {
      width: 500px;
    }
  }

  .main-form {
    display: flex;
    gap: 32px;

    .methods {
      thead {
        display: block;

        tr {
          display: flex;
          gap: 300px;
        }
      }

      tbody {
        display: block;
        max-height: 300px;
        overflow-y: auto;

        tr {
          cursor: pointer;

          &:nth-child(even) {
            background: #f0f0f0;
          }

          &:hover {
            background: #dbdbdb;
          }
        }
      }

      .id-cell {
        min-width: 120px;
        width: fit-content;
      }

      .name-cell {
        width: 1100px;
      }

      .active {
        background: #cacaca;
      }
    }

    .details {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .approved {
        label {
          display: flex;
          flex-direction: column;
          padding: 4px;
          font-weight: bold;
        }

        .info {
          height: 100px;
          padding: 4px;
          border: 1px solid black;
        }
      }

      .order {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .order-number,
        .order-date {
          label {
            display: flex;
            justify-content: space-between;


            .info {
              padding: 4px;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }

  .info-form {
    display: flex;

    aside {
      z-index: 3;
      margin-top: 50px;
      width: 250px;

      .tab {
        padding: 4px;
        font-size: 14px;
        border: 1px solid black;
        border-bottom: none;
        cursor: pointer;

        &.active {
          border-right: 1px solid white;
        }

        &:nth-child(even) {
          background: #f0f0f0;
        }

        &:hover {
          background: #dbdbdb;
        }

        &:last-child {
          border-bottom: 1px solid black;
        }
      }
    }

    .info-wrapper {
      margin-left: -1px;
      padding: 8px;
      border: 1px solid black;

      .container {
        padding: 8px;

        .hyg-stand-table {
          td {
            padding: 4px;
          }

          .id-cell {
            width: 50px;
          }

          .target-cell {
            width: 200px;
          }

          .object-cell {
            width: 300px;
          }

          .mdr-cell {
            width: 70px;
          }

          .mdk-cell {
            width: 50px;
          }
        }

        .method-name {
          padding: 8px;
        }
      }
    }
  }
}

