* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;

  tbody{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    tr {
      &:first-child {
        td {
          border-top: none;
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  td {
    border: 1px solid black;
  }

  th, td {
    padding: 4px;
  }
}
